html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

#container {
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 6px;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

#city {
  font-size: 2.4rem;
}

#temp {
  font-size: 3.2rem;
}

#forecast {
  font-size: 1.4rem;
}

#wind {
  font-size: 1.4rem;
}

form {
  margin: 10px;
}

input {
  border-left: none;
  border-top: none;
  border-right: none;
  margin-right: 10px;
}

textarea:focus,
input:focus {
  outline: none;
}
